body{
    background-color:#1B2430;
    font-family: 'Cabin Sketch', cursive;
}

a{
    text-decoration: none;
}

.heading{
    height: 250px;
    position: relative;
}

#top-heading, #below-heading{
    display: inline-block;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#top-heading{
    font-size: 150px;
    color: white;
    z-index: 1;
}

#below-heading{
    font-size: 200px;
    color: green;
    animation: 2s linear 0s infinite color-change;
}

@keyframes color-change{
    0%   {color: green;}
    25%  {color: red;}
    50%  {color: yellow;}
    75%  {color: blue;}
    100% {color: green;}
}

.rules{
    color: white;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.rules > h1, h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.rules > hr{
    width: 50%;
}

.btn {
    align-items: center;
    background-color: #787A91;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Cabin Sketch', cursive;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
}

.btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.btn:hover:after {
    transform: translate(0, 0);
}

.btn:active {
    background-color: #EEEEEE;
    outline: 0;
}

.btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btn {
    padding: 0 40px;
  }
}